[project]
	description = OData Web API: A server library built upon ODataLib and WebApi
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Mirs King (mirsking)
[access "refs/for/refs/*"]
	read = group user/Mirs King (mirsking)
	push = group user/Mirs King (mirsking)
	label-Code-Review = -2..+2 group user/Mirs King (mirsking)
	label-Verified = -1..+1 group user/Mirs King (mirsking)
	rebase = group user/Mirs King (mirsking)
	removeReviewer = group user/Mirs King (mirsking)
	submit = group user/Mirs King (mirsking)
[access "refs/heads/*"]
	read = group user/Mirs King (mirsking)
	create = group user/Mirs King (mirsking)
	push = +force group user/Mirs King (mirsking)
	pushMerge = group user/Mirs King (mirsking)
[access "refs/tags/*"]
	push = +force group user/Mirs King (mirsking)
	pushTag = group user/Mirs King (mirsking)
	pushSignedTag = group user/Mirs King (mirsking)
